<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Temp Monitoring</title>

	<link rel="stylesheet" href="/static/css/vendor/bootstrap.min.css">
	<script src="https://use.fontawesome.com/4c491ca50c.js"></script>
	<link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
<div class="main">
	<div class="content">

		<div class="panel panel-default">
			<div class="panel-heading"><h2>Settings</h2></div>
			<div class="panel-body">
				<div class="form-group">
					<label class="col-lg-2 control-label">Mode</label>
					<div class="col-lg-10">
						<div class="radio">
							<label>
								<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
								Heat
							</label>
						</div>
						<div class="radio">
							<label>
								<input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
								AC
							</label>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="panel panel-primary">
			<div class="panel-heading">
				<div class="panel-title"><h2>Downstairs: Current Temp / Target Temp</h2></div>
			</div>
			<div class="panel-body">
				<div class="temps"><span id="thermoCurrentTemp"></span> / <span id="thermoTargetTemp"></span></div>
				<div class="btn-group-vertical controls">
					<a href="#" class="btn btn-lg"><span class="fa fa-chevron-up fa-5x" aria-hidden="true"></span></a>
					<a href="#" class="btn btn-lg"><span class="fa fa-chevron-down fa-5x" aria-hidden="true"></span></a>
				</div>
			</div>
		</div>

		<div class="panel panel-warning">
			<div class="panel-heading">
				<div class="panel-title"><h2>Upstairs: Current Temp / Target Temp</h2></div>
			</div>
			<div class="panel-body">
				<div class="temps"><span id="piCurrentTemp"></span> / <span id="piTargetTemp"></span></div>
				<div class="btn-group-vertical controls">
					<a href="#" class="btn btn-lg"><span class="fa fa-chevron-up fa-5x" aria-hidden="true"></span></a>
					<a href="#" class="btn btn-lg"><span class="fa fa-chevron-down fa-5x" aria-hidden="true"></span></a>
				</div>
			</div>
		</div>
	</div>
</div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="/static/js/main.js"></script>
</body>
</html>